---
import IntroCard from "@/components/IntroCard";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
	<section class="space-y-8">
		<div class="space-y-4">
			<h1
				class="font-heading max-w-2xl text-4xl font-bold tracking-tight text-neutral-950 sm:text-7xl dark:text-white"
			>
				Archer Chua
			</h1>
			<p
				class="font-body max-w-xl text-lg leading-8 text-neutral-600 dark:text-neutral-300"
			>
				Hello, I'm Archer. I'm an aspiring software engineer, passionate about
				technology and building software that solves real world problems. When
				I'm not commanding my army of AI agents, I'm probably nerding out about
				audio gear or enjoying a game of mahjong.
			</p>
		</div>
	</section>
</BaseLayout>
